<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708024175014-imsf0as76j9pma6b2a54oo506i98b8hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708024175014-imsf0as76j9pma6b2a54oo506i98b8hl</string>
	<key>API_KEY</key>
	<string>AIzaSyB6dul6LKGkdtSGU_zbsw1VDB3KB4fftj4</string>
	<key>GCM_SENDER_ID</key>
	<string>708024175014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>city.iamnew.New-City-Groups</string>
	<key>PROJECT_ID</key>
	<string>new-city-groups-1521256588164</string>
	<key>STORAGE_BUCKET</key>
	<string>new-city-groups-1521256588164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708024175014:ios:0936989f03d21fea</string>
	<key>DATABASE_URL</key>
	<string>https://new-city-groups-1521256588164.firebaseio.com</string>
</dict>
</plist>